body {
    background-image: file:///C:/Users/cnune/Downloads/DALL%C2%B7E%202024-10-13%2023.44.39%20-%20A%20light%20brown%20background%20suitable%20for%20an%20apple%20picking%20website,%20featuring%20colorful%20apples%20and%20autumn-themed%20elements.%20The%20background%20should%20maintain%20a.webp;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100;
}