body {
    background-image: https://www.shutterstock.com/image-vector/fresh-healthy-apples-vector-background-260nw-1484977193.jpg;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100;
}